body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color:#E5E5E5;
    color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.mb-1 {
    margin-bottom: 10px;
}
.lh-main{
    line-height: calc(24/14);
}
/* main styles */
.main {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0px auto;

}

/* main-contant styles */
.main-content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
/* about styles */
.about {
    margin-bottom: 40 px;
}

.course-name {
    font-weight: 700;
    line-height: calc(17/14);
    margin-bottom: 20px;
}

.about-name {
    font-size: 45px;
    line-height: calc(55/45);
    margin-bottom: 25px;
}

.about-description {
    color: #595959;
    width: 400px;
}

/* project styles */
.projects {
    margin-bottom: 50px;
}

.title {
    font-size: 22px;
    line-height: calc(27/22);
}

.project-list {
    font-weight: 700;
    padding: 0;
    margin-left: 15px;
}

.project-list-text,
.project-link {
    font-weight: 400;
    color: #595959;
}


/* work styles */

.title-rank {
    font-size: 16px;
    line-height: calc(20/16);
}

.title-rank-color {
    color: #FB6D3A;
}

.period-in-rank {
    font-size: 12px;
    line-height: calc(15/12);
    color: #A8A8A8;
}

/* education styles */


/* sidebar styles */
.sidebar {
    background-color: #1E2939; 
    color: #FFFFFF;
    width: 370px;
    padding-bottom: 50px;
}


.photo {
    width: 100%;
    margin-bottom: 30px;
}

.sidebar-title{
    font-size: 22px;
    line-height: calc(27/22);
}
.contacts__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.contacts, 
.tech-skills,
.soft-skills {
    margin-left: 40px;
}

.contacts,
.tech-skills {
    margin-bottom: 30px;
}

.tech-skills-list,
.soft-skills-list {
    color: #FB6D3A;
    padding: 0;
    margin-left: 17px;
}

.tech-skills-text,
.soft-skills-text {
    color: #FFFFFF;
}
.contact-type {
    font-weight: 700;
    margin-right: 10px;
}

.contact-link {
    color: #a4a4a4;
    text-decoration: none;
    transition: 0.5s all;
}
.contact-link:hover {
    color: #ffffff;
}